* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: 0;
	list-style-type: none;
	font-size: 1rem;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	color: #fff;
}

a {
	text-decoration: none;
	text-transform: none;
	color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Playfair Display', serif;
	color: #000;
	font-weight: 900;
	font-style: italic;
}

body {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

header {
	background: #07060a;
}

header>.container {
	padding: 20px 0;
	align-items: center;
	justify-content: space-between;
}

header .logo p {
	padding: 0;
	margin: 0;
}

header .menu {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin: 0;
	padding-left: 0;
	gap: 20px;
}

header .menu>ul {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	padding: 0;
	margin: 0;
}

header a:hover, sidebar a:hover {
	color: #ff8da0;
}

header a[aria-current="page"], sidebar a[aria-current="page"] {
	color: #ff8da0;
}

header .logo>a>img {
	width: 100%;
	height: 30px;
}

header .search {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 270px;
	height: 35px;
	border: 1px solid;
	border-radius: 30px;
}

header .search>div {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 0 10px;
}

header .search>div>input {
	background: none;
	border: none;
	color: #fff;
}

header .search>div>input::placeholder {
	color: #fff;
}

header .search>div>img {
	width: 20px;
	height: 20px;

	color: #fff;
	filter: #fff;
}

header #open-sidebar>button {
	background: transparent;
	border: none;
	height: 48px;
	width: 48px;
}

header #open-sidebar>button>img {
	width: 25px;
	height: 25px;
}

header #open-sidebar>button:hover img, header .logo:hover, sidebar .logo:hover {
	filter: brightness(0.9);
}

header>#open-sidebar {
	display: none;
}


/* CSS DA SIDEBAR */

sidebar {
	display: flex;
	align-items: center;
	justify-content: start;
	flex-direction: column;
	background: #07060a;
	position: fixed;
	height: 100vh;
	width: 70vw;
	gap: 20px;

	padding: 25px;
	z-index: 100;
}

sidebar .logo>a>img {
	height: 35px;
}

sidebar>div:last-child {
	display: flex;
	align-items: center;
	justify-content: start;
	width: 100%;
}

sidebar>div:last-child .menu {
	padding: 0;
	margin: 0;
}

sidebar>div:last-child .menu li a {
	font-size: 20px;
}

sidebar {
	display: none;
}

/* CSS DA HOME */

.home>p, .home>h1 {
	text-align: center;
}

.home>p {
	color: #000;
	font-weight: 400;
	font-style: italic;
}

.home .linha {
	width: 40vw;
	height: 4px;
	border-radius: 4px;
	background: #ff8da0;
	margin: 10px 0 20px 0;
}

.home .content-main {
	display: grid;
	grid-template-columns: 2fr 2fr;
	gap: 40px;
	margin-top: 30px;
}

.home .content-main>div:last-child {
	display: grid;
	grid-template-columns: 2fr 2fr;
	gap: 40px;
}

.home .content-main>div:first-child>p {
	font-size: 30px;
	font-weight: 900;
	padding: 10px 0 0 0;
	margin: 0;
	
}

.home .content-main img {
	width: 100%;
	border-radius: 12px;
}

.home .content-main>div {
	margin-bottom: 20px;
}

/* .home .content-main>div:hover{
	filter: brightness(0.5);
} */

.home .content-main>div:first-child>div {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 10px 0 20px 0;
	color: #787878;
}

.home .content-main>div>a {
	background: transparent;
	width: 120px;
	text-align: center;
	border: 1px solid #ff8da0;
	padding: 5px 20px;
	border-radius: 4px;
	cursor: pointer;

}

.home .content-main>div>a:hover{
	background: #ff8da0;
	color: #fff;
}

.home .content-main>div>.container-duo {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.home .content-main>div>.container-duo>div>img {
	height: 150px;
}

.home .content-main>div>.container-duo>div>div {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 10px 0 20px 0;
	color: #787878;
}

.home .content-main>div>.container-duo>div:last-child{
	padding-top: 20px;
	/* border-top: 1px solid #cccc; */
} 

.home .content-main>div>.container-duo>div>p, .home .content-main>div>.container-tree>div:first-child>p {
	font-weight: bold;
	font-size: 20px;
	padding: 10px 0 0 0;
	margin: 0;
}

.home .content-main>div>.container-duo>div>div>p>a {
	color: #787878;
}

.home .content-main>div>.container-tree {
	display: grid;
	flex-direction: column;
}

.home .content-main>div>.container-tree>div {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	border-top: 1px solid #cccc;
}

.home .content-main>div>.container-tree>div:first-child {
	flex-direction: column;
	justify-content: start;
	align-items: start;
	border: none;
}

.home .content-main>div>.container-tree>div:first-child>img {
	width: 100%;
	height: 220px;
}

.home .content-main>div>.container-tree>div>img {
	height: 70px;
	width: 30%;
}

.home .content-main>div>.container-tree>div>p {
	padding: 0 20px 0 0;
	margin: 0;
	font-weight: bold;
	font-size: 15px;
}

/* CSS DO FOOTER */

footer {
	background: #e04668;
}

footer>.container:nth-child(1) {
	display: grid;
	align-items: center;
	grid-template-columns: 2fr 2fr 1fr 2fr;
	gap: 40px;

	padding: 20px 0;

	border-bottom: 1px solid;
}

footer .menu {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 0;
	padding-left: 0;
}

footer>.container:nth-child(1)>.logo {
	display: flex;
	align-items: center;
	justify-content: end;
}

footer>.container:nth-child(1)>.logo>a>img {
	height: 40px;
}

footer>.container:nth-child(1)>div {
	height: 100%
}

footer>.container:nth-child(1)>div>p:nth-child(1) {
	font-weight: bold;
	font-size: 22px;
}

footer .menu>ul {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
}

footer>.container:nth-child(2) {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0 10px;
}

footer>.container:nth-child(1)>.posts>div,
footer>.container:nth-child(1)>.most_read>div,
footer .menu>ul,
footer>.container:nth-child(2)>p {
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-size: 14px;
}

footer a:hover {
	color: #fff;
	filter: brightness(0.9);
}

#open-sidebar {
	display: none;
}

@media(max-width: 992px) {
	.content-main {
		display: flex !important;
		flex-direction: column;
	}
}

@media(max-width: 768px) {

	header>.container {
		padding: 20px;
	}

	header>.container>div:nth-child(2),
	header>.container>div:nth-child(3) {
		display: none;
	}

	#open-sidebar {
		display: flex;
		z-index: 100;
	}

	sidebar {
		display: flex;
		left: -100vw;
		transition: 0.7s ease-out;
	}

	sidebar.active {
		left: 0;
	}

	.overlay {
		position: fixed;
		display: none;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 2;
		cursor: pointer;
	}

	.overlay.active {
		display: flex;
	}

	footer>.container:nth-child(1) {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 20px;
	}

	footer>.container:nth-child(2) {
		padding: 20px;
	}

	footer>.container:nth-child(2)>p {
		padding: 0;
		margin: 0;
	}

	.content-main>div {
		display: flex !important;
		flex-direction: column;
	}

	.home .content-main>div:last-child {
		gap: 10px;
	}

	.home .content-main>div>.container-duo>div>img {
		height: 240px;
	}

	.home .content-main>div>.container-duo>div>p {
    padding: 20px 0 5px 0;
	}

	.home .content-main>div>.container-tree>div:first-child>p {
		padding: 0px 0 20px 0;
	}

	.home .content-main>div>.container-tree>div>img {
		width: 100px;
		margin: 20px 0;
	}
}