* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: 0;
	list-style-type: none;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Nunito', sans-serif;
	color: #fff;
}

a {
	text-decoration: none;
	text-transform: none;
	color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Lora', serif;
	color: #000;
	font-weight: 700;
	font-style: italic;
}

img {
	width: 100%;
	object-fit: cover;
}

body {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

header {
	background: #07060a;
}

header > .container {
	padding: 20px 0;
	align-items: center;
	justify-content: space-between;
}

header .logo p {
	padding: 0;
	margin: 0;
}

header .menu {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin: 0;
	padding-left: 0;
	gap: 20px;
}

header .menu > ul {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	padding: 0;
	margin: 0;
}

header a:hover,
sidebar a:hover,
header a[aria-current='page'],
sidebar a[aria-current='page'] {
	color: #ff8da0;
}

header .logo > a > img {
	width: 100%;
	height: 30px;
	object-fit: fill;
	border-radius: 0;
}

header .search {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 270px;
	height: 35px;
	border: 1px solid;
	border-radius: 30px;
}

header .search > form {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 0 10px;
}

header .search > form > input {
	background: none;
	border: none;
	color: #fff;
}

header .search > form > input::placeholder {
	color: #fff;
}

header .search > form > button {
	border: none;
	background: transparent;
}

header .search > form > button > img {
	width: 20px;
	height: 20px;
	color: #fff;
	object-fit: fill;
	border-radius: 0;
}

header #open-sidebar > button {
	background: transparent;
	border: none;
	height: 48px;
	width: 48px;
}

header #open-sidebar > button > img {
	width: 25px;
	height: 25px;
	border-radius: 0;
}

header #open-sidebar > button:hover img,
header .logo:hover,
sidebar .logo:hover {
	filter: brightness(0.9);
}

header > #open-sidebar {
	display: none;
}

/* CSS DA SIDEBAR */

sidebar {
	display: flex;
	align-items: center;
	justify-content: start;
	flex-direction: column;
	background: #07060a;
	position: fixed;
	height: 100vh;
	width: 70vw;
	gap: 20px;

	padding: 25px;
	z-index: 100;
}

sidebar .logo > a > img {
	height: 35px;
	border-radius: 0;
}

sidebar > div:last-child {
	display: flex;
	align-items: center;
	justify-content: start;
	width: 100%;
}

sidebar > div:last-child .menu {
	padding: 0;
	margin: 0;
}

sidebar > div:last-child .menu li a {
	font-size: 20px;
}

sidebar {
	display: none;
}

/* CSS DA HOME */

.home > p,
.home > h1 {
	text-align: center;
}

.home > a,
.single-post > a {
	font-size: 24px;
	font-weight: bold;
	text-decoration: underline;
	color: #000;

	margin: 30px 0 40px;
	transition: 0.3s;
}

.home > a:hover,
.single-post > a:hover {
	color: #ff8da0;
}

.home > p {
	color: #000;
	font-weight: 400;
	font-style: italic;
}

.home .linha {
	width: 40vw;
	height: 4px;
	border-radius: 4px;
	background: #ff8da0;
	margin: 10px 0 20px 0;
}

.home .content-main {
	display: grid;
	grid-template-columns: 2fr 2fr;
	margin: 30px 0;
	color: #000;
	position: relative;
}

.home .content-main > div:first-child {
	padding-right: 25px;

	border-right: 1px solid #ccc;
}

.home .content-main > div:last-child {
	display: grid;
	grid-template-columns: 2fr 2fr;
	padding-left: 25px;
}

.home .content-main > div:first-child > a > p {
	font-size: 30px;
	font-weight: 900;
	padding: 10px 0 0 0;
	margin: 0;
	color: #000;
}

.home img {
	border-radius: 12px;
	object-fit: cover;
}

.home .content-main > div:first-child img:hover,
.home .content-main .container-duo > div img:hover,
.home .content-main .container-three > div img:hover,
.container-most-wanted img:hover,
.container-business > .bussines-content > div img:hover {
	filter: brightness(0.9);
}

.home .content-main > div:first-child > a > p:hover,
.home .content-main > div > .container-duo > div > a > p:hover,
.home .content-main > div > .container-three > div:first-child > a > p:hover,
.home .content-main > div > .container-three > div > a > p:hover,
.container-most-wanted > .most-wanted-main > div > div a p:hover,
.container-business > .bussines-content > div:first-child > a > p:hover,
.container-business
	> .bussines-content
	> div:last-child
	> div
	> div
	> a
	> p:hover,
.container-categories > div > div > a p:hover {
	color: #ff8da0;
	transition: 0.3s;
}

.home .content-main > div:first-child > div {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 10px 0 20px 0;
	color: #787878;
}

.home .content-main > div > a:last-child {
	background: transparent;
	width: 120px;
	text-align: center;
	border: 1px solid #ff8da0;
	padding: 5px 20px;
	border-radius: 4px;
	cursor: pointer;
	color: #000;
}

.home .content-main > div > a:last-child:hover {
	background: #ff8da0;
	color: #fff;
	transition: 0.3s;
}

.home .content-main > div > .container-duo {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-right: 25px;
	border-right: 1px solid #ccc;
}

.home .content-main > div > .container-duo > div > a > img {
	height: 150px;
}

.home .content-main > div > .container-duo > div > div {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 10px 0 20px 0;
	color: #787878;
}

.home .content-main > div > .container-duo > div:last-child {
	padding-top: 20px;
}

.home .content-main > div > .container-duo > div > a > p,
.home .content-main > div > .container-three > div:first-child > a > p {
	font-weight: bold;
	font-size: 20px;
	padding: 10px 0 0 0;
	margin: 0;
	color: #000;
}

.home .content-main > div > .container-duo > div > div > p > a {
	color: #787878;
}

.home .content-main > div > .container-three {
	display: grid;
	flex-direction: column;
	padding-left: 25px;
}

.home .content-main > div > .container-three > div {
	display: flex;
	align-items: center;
	height: 100%;
	border-top: 1px solid #cccc;
	column-gap: 20px;
}

.home .content-main > div > .container-three > div:first-child > a {
	display: block;
}

.home .content-main > div > .container-three > div:first-child > a:first-child {
	max-width: 100%;
}

.home .content-main > div > .container-three > div > a:first-child {
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 100px;
	column-gap: 20px;
}

.home .content-main > div > .container-three > div:first-child {
	flex-direction: column;
	justify-content: start;
	align-items: start;
	border: none;
}

.home .content-main > div > .container-three > div:first-child > a > img {
	width: 100%;
	height: 220px;
}

.home .content-main > div > .container-three > div > a > img {
	height: 70px;
}

.home .content-main > div > .container-three > div > a > p {
	/* padding: 0 20px 0 0; */
	margin: 0;
	font-weight: bold;
	font-size: 15px;
	color: #000;
}

.container-most-wanted {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	margin-bottom: 30px;
}

.container-most-wanted > h2 {
	margin-bottom: 20px;
}

.container-most-wanted > h2 > img,
.container-business > h2 > img {
	height: 15px;
	padding-right: 10px;
	width: initial;
}

.container-most-wanted > .most-wanted-main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
}

.container-most-wanted > .most-wanted-main > div {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: start;
	justify-content: center;
}

.container-most-wanted > .most-wanted-main > div img {
	height: 220px;
	border-radius: 10px;
}

.container-most-wanted > .most-wanted-main > div > div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-right: 15px;
	padding-left: 15px;
	border-right: 1px solid #cccc;
	min-height: 440px;
}

.single-post .container-most-wanted > .most-wanted-main > div > div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-right: 15px;
	padding-left: 15px;
	border-right: 1px solid #cccc;
	min-height: 450px;
}

.container-most-wanted > .most-wanted-main > div:first-child > div:first-child {
	padding-left: 0px;
}

.container-most-wanted > .most-wanted-main > div:last-child > div:last-child {
	padding-right: 0;
	border-right: none;
}

.container-most-wanted > .most-wanted-main > div > div a p {
	padding: 20px 0 10px 0;
	margin: 0;
	font-weight: bold;
	font-size: 20px;
	color: #000;
}

.container-most-wanted > .most-wanted-main > div > div > div,
.container-business > .bussines-content > div:first-child > div,
.container-business > .bussines-content > div > div > div {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #787878;
	margin-bottom: 20px;
}

.container-most-wanted > .most-wanted-main > div > div > a:last-child {
	background: transparent;
	width: 120px;
	text-align: center;
	border: 1px solid #ff8da0;
	color: #000;
	padding: 5px 20px;
	border-radius: 4px;
	cursor: pointer;
}

.container-most-wanted > .most-wanted-main > div > div > a:last-child:hover {
	background: #ff8da0;
	color: #fff;
	transition: 0.3s;
}

.container-business {
	display: flex;
	align-items: start;
	flex-direction: column;
	width: 100%;
	margin-bottom: 30px;
}

.container-business > h2 {
	margin-bottom: 20px;
}

.container-business > .bussines-content {
	display: grid;
	height: 100%;
	grid-template-columns: 1.5fr 2fr;
}

.container-business > .bussines-content > div:first-child {
	display: flex;
	align-items: start;
	color: #000;
	flex-direction: column;
	padding-right: 25px;
	border-right: 1px solid #ccc;
}

.container-business > .bussines-content > div:first-child > a > p {
	font-size: 30px;
	font-weight: 900;
	padding: 10px 0 0 0;
	margin: 0;
	color: #000;
}

.container-business > .bussines-content > div:first-child > a:last-child {
	background: transparent;
	width: 120px;
	text-align: center;
	border: 1px solid #ff8da0;
	color: #000;
	padding: 5px 20px;
	border-radius: 4px;
	cursor: pointer;
	transition: 0.3s;
}

.container-business > .bussines-content > div:first-child > a:last-child:hover {
	background: #ff8da0;
	color: #fff;
}

.container-business > .bussines-content > div img {
	width: 100%;
}

.container-business > .bussines-content > div:last-child {
	display: grid;
	grid-template-columns: 1.5fr 1.5fr;
	color: #000;
	padding-left: 25px;
}

.container-business > .bussines-content > div:last-child > div:first-child {
	padding-right: 25px;
	border-right: 1px solid #ccc;
}

.container-business > .bussines-content > div:last-child > div:last-child {
	background: #ccc;
	margin-left: 25px;
}

.container-business > .bussines-content > div:last-child > div > div {
	display: flex;
	align-items: center;
	gap: 20px;
	border-top: 1px solid #cccc;
	padding: 20px 0 0 0;
}

.container-business > .bussines-content > div:first-child > div > p,
.container-business > .bussines-content > div:first-child > div > p a {
	color: #787878;
}

.container-business > .bussines-content > div:last-child > div > div > a {
	display: flex;
	align-items: center;
}

.container-business
	> .bussines-content
	> div:last-child
	> div
	> div:first-child {
	padding: 0px 0 0 0;
	border: 0;
}

.container-business > .bussines-content > div:last-child > div > div > a img {
	width: 100px;
}

.container-business > .bussines-content > div:last-child > div > div > a > p {
	padding: 0;
	margin: 0;
	font-weight: bold;
	font-size: 15px;
	color: #000;
}

.container-categories {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin: 30px 0;
}

.container-categories > div {
	display: grid;
	grid-template-rows: 2fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr;
	padding-left: 15px;
	padding-right: 15px;
	border-right: 1px solid #cccc;
}

.container-categories > div:first-child {
	padding-left: 0;
}

.container-categories > div:last-child {
	padding-right: 0;
	border-right: 0;
}

.container-categories > div > div:first-child {
	display: flex;
	align-items: start;
	justify-content: space-between;
	flex-direction: column;
	color: #000;
	border: none;
}

.container-categories > div > div:first-child > p {
	width: 100%;
	font-size: 28px;
	font-weight: bold;
	border-bottom: 3px solid #ff8da0;
}

.container-categories > div > div {
	display: flex;
	align-items: center;
	justify-content: start;

	border-top: 1px solid #ccc;
}

.container-categories > div > div:first-child > a:last-child {
	background: transparent;
	width: 120px;
	text-align: center;
	border: 1px solid #ff8da0;
	color: #000;
	padding: 5px 20px;
	border-radius: 4px;
	cursor: pointer;
	transition: 0.3s;
	margin-bottom: 20px;
}

.container-categories > div > div > a > img:hover {
	filter: brightness(0.9);
	transition: 0.3s;
}

.container-categories > div > div:first-child > a:last-child:hover {
	color: #fff;
	background: #ff8da0;
}

.container-categories > div > div > div {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #787878;
	margin-bottom: 20px;
}
.container-categories > div > div > div > p,
.container-categories > div > div > div > a,
.container-categories > div > div > div > p > a {
	color: #787878;
}

.container-categories > div > div:first-child a:nth-child(3) {
	display: flex;
	align-items: center;
	min-height: 88px;
}

.container-categories
	> div
	> div:first-child
	.container-categories
	> div
	> div
	> a
	> img {
	height: 25vh;
}

.container-categories > div > div:first-child > a p {
	margin: 20px 0 10px 0;
	font-weight: bolder;
	font-size: 20px;
}

.container-categories > div > div > a p {
	color: #000;
	margin: 0;
	font-weight: bold;
}

.container-categories > div > div > a > img {
	/* height: 25vh; */
}

.container-dicas {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: 30px 0;
}

.container-dicas > h2 {
	color: #ff8da0;
	position: absolute;
	top: -20px;
	z-index: 10;
	background: #fff;
	width: 300px;
	text-align: center;
}

.container-dicas > a {
	position: absolute;

	right: 20px;
}

.container-dicas > a > img {
	height: 35px;
	width: 35px;
}

.container-dicas > div > div img:hover,
.container-dicas > a:hover > img {
	filter: brightness(0.9);
	transition: 0.3s;
}

.container-dicas > div > div p:hover {
	color: #ff8da0;
	transition: 0.3s;
}

.container-dicas > div {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	border: 2px solid #ff8da0;
	border-radius: 20px;
	padding: 40px 70px 10px 30px;
	margin-bottom: 30px;
}

.container-dicas > div > div {
	display: flex;
	align-items: start;
	justify-content: space-between;
	flex-direction: column;
	padding-right: 15px;
	padding-left: 15px;
}

.container-dicas > div > div img {
	min-height: 180px;
}

.container-dicas > div > div:first-child {
	padding-left: 0;
}

.container-dicas > div > div:last-child {
	padding-right: 0;
}

.container-dicas > div > div p {
	color: #000;
	font-size: 16px;
	font-weight: bolder;
	min-height: 85px;
	margin-top: 20px;
}

/* CSS POST SINGLE */
.content-post {
	display: grid;
	grid-template-columns: 2fr 1fr;
	margin: 30px 0;
}

.content-post > div:first-child {
	display: flex;
	flex-direction: column;
	color: #000;
	padding-right: 25px;
	border-right: 1px solid #ccc;
}

.content-post > div:first-child > .content-post-principal {
	color: #000;
	font-weight: bold;
	font-size: 30px;
	margin: 0;
}

.content-post > div:first-child > p,
.content-post > div:first-child > p > a {
	color: #787878;
}

.single-post .content-post > div:first-child > div {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
}

.content-post > div:first-child > a {
	margin: 30px 0 20px 0;
}

.content-post > div:first-child > a > img {
	height: 100%;
	width: 100%;
	border-radius: 14px;
}

.content-post > div:first-child > a > img:hover,
.content-post > div:last-child > .post-destaques > div img:hover,
.content-post > div:last-child > .post-lidas > div img:hover {
	filter: brightness(0.9);
}

.content-post > div:first-child > div > span:first-child {
	font-size: 20px;
	font-weight: bold;
	color: #ff8da0;
}

.content-post > div:last-child {
	display: flex;
	flex-direction: column;
	padding-left: 25px;
}

.content-post > div:last-child > .post-destaques {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.content-post > div:last-child > .post-destaques > div > div {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #787878;
}

.content-post > div:last-child > .post-destaques > div > div > p,
.content-post > div:last-child > .post-destaques > div > div > p > a {
	color: #787878;
}

.content-post > div:last-child > .post-destaques > div img {
	width: 100%;
	height: 200px;
	object-fit: cover;
	border-radius: 14px;
}

.content-post > div:last-child > .post-destaques > div > a > p {
	padding: 0;
	margin: 0;
	font-weight: bold;
	font-size: 18px;
	color: #000;
}

.content-post > div:last-child > .post-destaques > div > a > p:hover,
.content-post > div:last-child > .post-lidas > div > a > p:hover {
	color: #ff8da0;
	transition: 0.3s;
}

.content-post > div:last-child > .post-destaques > div {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.content-post > div:last-child > .post-lidas {
	margin: 30px 0;
}

.content-post > div:last-child > .post-lidas > div {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 15px;
	padding-top: 15px;
	border-bottom: 1px solid #ccc;
}

.content-post > div:last-child > .post-lidas > div:first-child {
	padding-top: 0;
}

.content-post > div:last-child > .post-lidas > div:last-child {
	border-bottom: 0;
}

.content-post > div:last-child > .post-lidas > div img {
	width: 125px;
	height: 80px;
	object-fit: cover;
	border-radius: 14px;
}

.content-post > div:last-child > .post-lidas > div > a > p {
	padding: 0;
	margin: 0;
	font-weight: bold;
	font-size: 18px;
	color: #000;
	padding-right: 20px;
}

.content-post > div > .post-propaganda {
	height: 600px;
	background: #ccc;
}

.post-destaques > h2 > img,
.post-lidas > h2 > img,
.single-post .content-post > div:first-child > div > h2 > img {
	height: 15px;
	padding-right: 10px;
	width: initial;
}

.wp-block-image.size-large > img {
	width: 100%;
	height: 100%;
}

.single-post .content-post > div > p,
.single-post .content-post > div > ul {
	margin: 10px 40px;
	padding-left: 0;
}

.single-post .content-post > div > h3 {
	color: #ff8da0;
	margin: 20px 40px 0 40px !important;
	padding: 0;
	font-size: 20px;
	font-family: 'Nunito';
	font-style: initial;
}

.single-post .content-post > div > ul {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.single-post .content-post > div > figure {
	margin: 30px 40px;
}

.single-post .content-post > div > figure > img {
	border-radius: 14px;
}

.share-button-wrapper {
	justify-content: center !important;
	margin-top: 30px;
	gap: 20px;
}

.share-button-wrapper > a {
	height: 35px;
	width: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s;
}

.share-button-wrapper > a:hover {
	filter: brightness(0.9);
}

.share-button-wrapper > a > img {
	width: 80%;
	height: 80%;
}

/* CSS CATEGORY */

.category > .content-post > .content-post-category {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.category > .content-post > .content-post-category > h2 {
	text-transform: capitalize;
}

.category > .content-post > .content-post-category h2 > img {
	height: 15px;
	padding-right: 10px;
	width: initial;
}

.category
	> .content-post
	> .content-post-category
	.content-post-category-three {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-bottom: 10px;
	gap: 25px;
}

.category
	> .content-post
	> .content-post-category
	.content-post-category-three
	> div {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: space-between;
}

.category
	> .content-post
	> .content-post-category
	.content-post-category-three
	> div
	> a
	> img {
	min-height: 260px;
	border-radius: 14px;
}

.category
	> .content-post
	> .content-post-category
	.content-post-category-three
	> div
	> a
	p {
	padding: 20px 0 10px 0;
	margin: 0;
	font-weight: bold;
	font-size: 20px;
	color: #000;
}

.category
	> .content-post
	> .content-post-category
	.content-post-category-three
	> div
	> a:last-child {
	background: transparent;
	width: 120px;
	text-align: center;
	border: 1px solid #ff8da0;
	color: #000;
	padding: 5px 20px;
	border-radius: 4px;
	cursor: pointer;
	margin: 30px 0 5px 0;
}

.category
	> .content-post
	> .content-post-category
	.content-post-category-three
	> div
	> div {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #787878;
}

.category
	> .content-post
	> .content-post-category
	.content-post-category-three
	> div
	> div
	p
	a {
	color: #787878;
}

.category > .content-post > .content-post-category > div:last-child {
	display: flex;
	align-items: start;
	justify-content: center;
	flex-direction: column;
	gap: 30px;
}

.paged .content-post-category-three {
	display: none !important;
}

.category > .content-post > .content-post-category > div:last-child > div {
	display: flex;
	align-items: center;
	justify-content: center;
}

.category
	> .content-post
	> .content-post-category
	> div:last-child
	> div
	> div {
	display: flex;
	align-items: start;
	justify-content: center;
	flex-direction: column;
	padding-left: 20px;
}

.category
	> .content-post
	> .content-post-category
	> div:last-child
	> div
	> div
	> div {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #787878;
}

.category
	> .content-post
	> .content-post-category
	> div:last-child
	> div
	> div
	> div
	> figure {
	display: none;
}

.category
	> .content-post
	> .content-post-category
	> div:last-child
	> div
	> div
	> a
	p {
	font-weight: bolder;
	font-size: 18px;
	color: #000;
}

.category > .content-post > .content-post-category > div:last-child > div > a {
	height: 100%;
}

.category
	> .content-post
	> .content-post-category
	> div:last-child
	> div
	> a
	> img {
	width: 250px;
	height: 100%;
	border-radius: 14px;
}

.category
	> .content-post
	> .content-post-category
	> div:last-child
	> div
	> div
	> a:last-child {
	background: transparent;
	width: 120px;
	text-align: center;
	border: 1px solid #ff8da0;
	color: #000;
	padding: 5px 20px;
	border-radius: 4px;
	cursor: pointer;
	margin: 30px 0 5px 0;
}

.category
	> .content-post
	> .content-post-category
	.content-post-category-three
	> div
	> a
	p:hover,
.category
	> .content-post
	> .content-post-category
	> div:last-child
	> div
	> div
	> a
	p:hover {
	color: #ff8da0;
	transition: 0.3s;
}

.category
	> .content-post
	> .content-post-category
	.content-post-category-three
	> div
	> a
	> img:hover,
.category
	> .content-post
	> .content-post-category
	> div:last-child
	> div
	> a
	> img:hover {
	filter: brightness(0.9);
	transition: 0.3s;
}

.category
	> .content-post
	> .content-post-category
	.content-post-category-three
	> div
	> a:last-child:hover,
.category
	> .content-post
	> .content-post-category
	> div:last-child
	> div
	> div
	> a:last-child:hover {
	background: #ff8da0;
	color: #fff;
	transition: 0.3s;
}

.category
	> .content-post
	> .content-post-category
	> div:last-child
	> div
	> div
	> div
	> p
	a {
	color: #787878;
}

.paginacao-interna {
	width: 100%;
	align-items: center;
	justify-content: center;
}

.paginacao-interna > ul {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	gap: 10px;
	padding: 0;
}

.paginacao-interna > ul > li > a,
.paginacao-interna > ul > li > span {
	padding: 5px 10px;
	border-radius: 4px;
}

.paginacao-interna > ul > li > span.current,
ul.page-numbers a:hover,
ul.page-numbers span:not(.dots):hover {
	background: #ff8da0;
	color: #fff;
}

.paginacao-interna > ul > li,
.paginacao-interna > ul > li > a {
	color: #000;
	font-weight: bold;
}

.search-form > .content-post > div:first-child > div {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.search-form .title-search > strong {
	color: #ff8da0;
}

.search-form > .content-post > div:first-child > div > div {
	display: flex;
	align-items: center;
	justify-content: center;
}

.search-form > .content-post > div:first-child > div > div > div {
	display: flex;
	align-items: start;
	justify-content: center;
	flex-direction: column;
	padding-left: 20px;
}

.search-form > .content-post > div:first-child > div > div > div > div {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #787878;
}

.search-form > .content-post > div:first-child > div > div > a > img {
	width: 250px;
	height: 220px;
	border-radius: 14px;
}

.search-form > .content-post > div:first-child > div > div > div > a p {
	font-weight: bolder;
	font-size: 18px;
	color: #000;
}

.search-form > .content-post > div:first-child > div > div > div > div > p a {
	color: #787878;
}

.search-form
	> .content-post
	> div:first-child
	> div
	> div
	> div
	> a:last-child {
	background: transparent;
	width: 120px;
	text-align: center;
	border: 1px solid #ff8da0;
	color: #000;
	padding: 5px 20px;
	border-radius: 4px;
	cursor: pointer;
	margin: 30px 0 5px 0;
}

.search-form > .content-post > div:first-child > div > div > a > img:hover {
	filter: brightness(0.9);
	transition: 0.3s;
}

.search-form > .content-post > div:first-child > div > div > div > a p:hover {
	color: #ff8da0;
	transition: 0.3s;
}

.search-form
	> .content-post
	> div:first-child
	> div
	> div
	> div
	> a:last-child:hover {
	background: #ff8da0;
	color: #fff;
	transition: 0.3s;
}

.search-form .content-post > div:first-child {
	margin: 0 0 30px 0;
}

.search-form figure {
	display: none;
}

.category > div:last-child > a {
	font-size: 24px;
	font-weight: bold;
	text-decoration: underline;
	color: #000;
	margin: 30px 0 40px;
	transition: 0.3s;
}

.category > div:last-child > a:hover {
	color: #ff8da0;
}

.content-post p strong,
.content-post p strong a {
	color: #ff8da0;
}

.container-most-wanted > .most-wanted-main > div > div > div > p,
.container-most-wanted > .most-wanted-main > div > div > div > p a {
	color: #787878;
}

/* CSS DO FOOTER */

footer {
	background: #e04668;
}

footer > .container:nth-child(1) {
	display: grid;
	align-items: center;
	grid-template-columns: 2fr 2fr 1fr 2fr;
	gap: 40px;

	padding: 20px 0;

	border-bottom: 1px solid;
}

footer .menu {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 0;
	padding-left: 0;
}

footer > .container:nth-child(1) > .logo {
	display: flex;
	align-items: center;
	justify-content: end;
}

footer > .container:nth-child(1) > .logo > a > img {
	height: 40px;
	object-fit: fill;
	border-radius: 0;
}

footer > .container:nth-child(1) > div {
	height: 100%;
}

footer > .container:nth-child(1) > div > p:nth-child(1) {
	font-weight: bold;
	font-size: 22px;
}

footer .menu > ul {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
}

footer > .container:nth-child(2) {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0 10px;
}

footer > .container:nth-child(1) > .posts > div,
footer > .container:nth-child(1) > .most_read > div,
footer .menu > ul,
footer > .container:nth-child(2) > p {
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-size: 14px;
}

footer a:hover {
	color: #fff;
	filter: brightness(0.9);
}

#open-sidebar {
	display: none;
}

@media (max-width: 1200px) {
	.container-business > .bussines-content {
		grid-template-columns: 1.5fr 1.5fr;
	}

	.container-business > .bussines-content > div:last-child {
		grid-template-columns: 1fr;
	}

	.container-categories > div > div:first-child a:nth-child(3) {
		min-height: 130px;
	}
}

@media (max-width: 992px) {
	.content-main {
		display: flex !important;
		flex-direction: column;
	}

	.home .content-main > div:first-child {
		padding-right: 0;
		border-right: 0;
		padding-bottom: 25px;
		border-bottom: 1px solid #cccc;
	}

	.home .content-main > div:last-child {
		padding-left: 0;
		padding-top: 25px;
	}

	.home .content-main > div > .container-duo > div > a > img {
		height: 220px;
	}

	.container-most-wanted > .most-wanted-main {
		gap: 20px;
	}

	.container-most-wanted > .most-wanted-main > div {
		grid-template-columns: none;
		grid-template-rows: 2fr;
	}

	.single-post .container-most-wanted > .most-wanted-main > div > div {
		padding-right: 0;
		padding-left: 0;
		border-right: 0;
	}

	.container-most-wanted > .most-wanted-main > div > div {
		padding-right: 0;
		padding-left: 0;
		padding-bottom: 20px;
		padding-top: 20px;

		border-left: none;
		border-right: none;
		border-bottom: 1px solid #cccc;
	}

	.container-most-wanted
		> .most-wanted-main
		> div:first-child
		> div:last-child {
		border-bottom: none;
	}

	.container-most-wanted > .most-wanted-main > div:last-child > div:last-child {
		border-bottom: none;
	}

	.container-most-wanted > .most-wanted-main > div img {
		height: 150px;
	}

	.container-most-wanted > h2 {
		margin-bottom: 0px;
	}

	.container-business > .bussines-content {
		grid-template-columns: 1fr;
	}

	.container-business > .bussines-content > div:first-child {
		padding-right: 0;
		border-right: 0;
		border-bottom: 1px solid #ccc;
		padding-bottom: 25px;
	}

	.container-business > .bussines-content > div:last-child {
		grid-template-columns: 1fr 1fr;
		column-gap: 0;
		padding-left: 0;
		padding-top: 20px;
	}

	.container-categories {
		display: grid;
		align-items: start;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}

	.container-categories .categories-cabelos {
		border-right: 0;
	}

	.container-categories .categories-dicas,
	.container-categories .categories-negocios {
		margin-top: 40px;
	}

	.container-categories .categories-dicas {
		padding-left: 0;
	}
	.container-categories .categories-cabelos,
	.container-categories .categories-negocios {
		padding-right: 0;
	}

	.container-dicas {
		margin-top: 30px;
	}

	.container-dicas > div {
		padding: 0;
		border: 0;
		grid-template-columns: 1fr;
		gap: 30px;
	}

	.container-dicas > h2 {
		top: -50px;
		width: initial;
	}

	.container-dicas > a {
		top: -50px;
	}

	.container-dicas > div > div p {
		font-size: 24px;
		min-height: 0;
	}

	.container-dicas > div > div {
		padding: 0;
	}
}

@media (max-width: 768px) {
	header > .container {
		padding: 20px;
	}

	header > .container > div:nth-child(2),
	header > .container > div:nth-child(3) {
		display: none;
	}

	#open-sidebar {
		display: flex;
		z-index: 100;
	}

	sidebar {
		display: flex;
		left: -100vw;
		transition: 0.7s ease-out;
	}

	sidebar.active {
		left: 0;
	}

	.overlay {
		position: fixed;
		display: none;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 2;
		cursor: pointer;
	}

	.overlay.active {
		display: flex;
	}

	footer > .container:nth-child(1) {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 20px;
	}

	footer > .container:nth-child(2) {
		padding: 20px;
	}

	footer > .container:nth-child(2) > p {
		padding: 0;
		margin: 0;
	}

	.content-main > div {
		display: flex !important;
		flex-direction: column;
	}

	.home .content-main > div:last-child {
		gap: 10px;
	}

	.home .content-main > div > .container-duo,
	.home .content-main > div > .container-three {
		padding: 0;
		border-right: 0;
	}

	.home .content-main > div > .container-duo > div > img {
		height: 240px;
	}

	.home .content-main > div > .container-duo > div > p {
		padding: 20px 0 5px 0;
	}

	.home .content-main > div > .container-three > div:first-child > a > p {
		padding: 0px 0 20px 0;
	}

	.home .content-main > div > .container-three > div > a > img {
		width: 100px;
		margin: 20px 0;
	}

	.container-business > .bussines-content > div:last-child {
		grid-template-columns: 1fr;
	}

	.container-business > .bussines-content > div:last-child > div:first-child {
		padding-right: 0;
		border-right: 0;
	}

	.container-categories > div > div:first-child {
		padding: 0;
	}
	.container-categories > div > div {
		padding: 20px 0;
	}

	.content-post {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}

	.content-post > div:first-child {
		padding: 0;
		border-right: none;
		margin-bottom: 30px;
	}

	.content-post > div:last-child {
		padding: 0;
	}

	.category
		> .content-post
		> .content-post-category
		.content-post-category-three {
		grid-template-columns: 1fr;
		gap: 30px;
	}
	.content-post > div:last-child > .post-destaques > div img,
	.category
		> .content-post
		> .content-post-category
		> div:last-child
		> div
		> a
		> img {
		width: 100%;
		height: 100%;
	}

	.category > .content-post > .content-post-category > div:last-child > div {
		align-items: start;
		flex-direction: column;
	}

	.category
		> .content-post
		> .content-post-category
		> div:last-child
		> div
		> div
		> a
		p {
		padding: 15px 0;
		margin: 0;
	}

	.category
		> .content-post
		> .content-post-category
		> div:last-child
		> div
		> div {
		padding: 0;
		margin-bottom: 30px;
	}

	.category
		> .content-post
		> .content-post-category
		.content-post-category-three
		> div:first-child {
		padding-left: 0;
	}

	.search-form > .content-post > div:first-child > div > div {
		flex-direction: column;
		align-items: start;
	}

	.search-form > .content-post > div:first-child > div > div > div {
		padding: 0;
	}

	.search-form > .content-post > div:first-child > div > div > a > img {
		width: 100%;
		height: 100%;
	}

	.search-form > .content-post > div:first-child > div > div > div a p {
		margin: 20px 0 0 0;
	}

	.search-form > .content-post > div:first-child > div > div > div > div p {
		margin: 15px 0;
	}

	.search-form
		> .content-post
		> div:first-child
		> div
		> div
		> div
		> a:last-child {
		margin: 20px 0 5px 0;
	}

	.single-post .content-post > div > p,
	.single-post .content-post > div > ul {
		margin: 10px 20px;
	}

	.single-post .content-post > div > figure {
		margin: 30px 20px;
	}
}

@media (max-width: 576px) {
	.container-categories {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		gap: 40px;
	}

	.container-categories > div > div > a > img {
		height: 100%;
	}

	.container-categories > div {
		grid-template-rows: 1fr 0fr 0fr 0fr 0fr 0fr 0fr;
		border-right: 0;
		padding-left: 0;
		padding-right: 0;
	}
	.container-categories > div > div:first-child a:nth-child(3) {
		min-height: 0;
	}

	.container-categories .categories-dicas,
	.container-categories .categories-negocios {
		margin-top: 0;
	}
}
